*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
}

body {
    font-family: Roboto mono, sans-serif;
    font-weight: 500;
}

.home {
    height: 100vh;
    background-image: url(/images/home-photo.jpg);
    background-size: cover;
    background-position: center;
    color: #F7F7F7;
}
#nav {
    display: flex;
    padding: 3vh 10vh;
    justify-content: space-between;
}
#nav-logo img {
    line-height: 10vh;
    vertical-align: middle;
}
#nav-bar, #nav-bar a {
    line-height: 10vh;
    vertical-align: middle;
    font-size: 3.5vh;
    text-align: right;
    word-spacing: 10vh;
    color: #F7F7F7;
}